<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>com.fm4d.spacedbooks.send-mail.plist</string>

    <key>StartCalendarInterval</key>
     <dict>
            <key>Hour</key>
            <integer>10</integer>
            <key>Minute</key>
            <integer>30</integer>
    </dict>

    <key>StandardErrorPath</key>
    <string>/Users/kgil/Codes/spacedbooks/stderr.log</string>

    <key>StandardOutPath</key>
    <string>/Users/kgil/Codes/spacedbooks/stdout.log</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string><![CDATA[/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin]]></string>
    </dict>

    <key>WorkingDirectory</key>
    <string>/Users/kgil/Codes/spacedbooks</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/kgil/.pyenv/shims/python3</string>
      <string>spacedbooks.py</string>
      <string>send-mail</string>
    </array>

  </dict>
</plist>